/*
 * Estilos para MessageModal.jsx
 */

#message-modal {
  z-index: 2000 !important;
}

.modal-buttons {
  display: flex;
  /* --- MODIFICACIÓN --- */
  flex-direction: column; /* 1. Apilamos los botones verticalmente */
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);
  /* flex-wrap: wrap; <-- Ya no es necesario */
  /* justify-content: flex-end; <-- Ya no es necesario */
}

/* --- ¡NUEVA REGLA! --- */
/* 2. Hacemos que todos los botones hijos directos ocupen el 100% */
.modal-buttons > button {
  width: 100%;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  /* ¡NUEVO! Le damos un orden para que aparezca primero */
  order: -1; 
}

.btn-secondary:hover {
  opacity: 0.9;
}