/*
 * Estilos para SetupModal.jsx
 */

/* Ajusta el ancho del modal de configuraci贸n */
#business-setup-modal .modal-content {
  width: 95%;
  padding: var(--spacing-md);
  /* Base m贸vil */
}

.business-type-container {
  grid-template-columns: repeat(2, 1fr);
  /* Base m贸vil */
}

.type-box {
  padding: var(--spacing-lg);
  border: 2px solid #e5e7eb;
  /* TODO: Usar variable */
  border-radius: var(--border-radius-sm);
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.type-box:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.type-box.selected {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

/* Responsive para m贸viles */
@media (min-width: 768px) {
  #business-setup-modal .modal-content {
    max-width: 600px;
    padding: var(--spacing-lg);
  }

  .business-type-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}